* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

:root {
  --poppinsBold: "Poppins-Bold";
  --poppinsMedium: "Poppins-Medium";
  --colorLetras: #0a2ff1;
}

body {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.card-header h4 {
  height: auto;
  color: var(--colorLetras);
  font-size: 59pt;
  font-family: var(--poppinsBold);
}
.card-header h4 strong {
  background-color: #3ffff3;
}
.card-body {
  margin-top: 50px;
}
.card-body p {
  height: 30%;
  margin-top: 30px;
  color: var(--colorLetras);
  font-size: 23pt;
  font-family: var(--poppinsMedium);
  line-height: 0.75;
}
.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo{
  position: relative;
  background-image: url("../fondo.JPG");
  background-size: contain;
  height: 80vh;
  width: 40%;
  top:0px;
}
img{
    position: absolute;
    width: 60%;
    height: 75%;
    left: 0px;
    right: 20px;
    bottom: 0px;
}