* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
:root {
  --poppins: "Poppins-Light", bold;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  color: #0a2ff1;
  font-size: 24pt;
  font-family: var(--poppins), bold;
  margin: 30px;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  margin-top: 3%;
  margin: 5px;
}
